@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*============================
RESETS=====================
==============================*/

/* Ensure consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Enable smooth scrolling for same-page links, 
   effective only for users without preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem; /* Offset for fixed headers or navbars */
  }
}

/* Enhance text rendering and set a global line-height for improved readability */
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color-scheme: light dark;
  font-family: "Bebas Neue", sans-serif;
}

/* Optimize line-height for headings to enhance title readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  text-wrap: balance; /* Distribute text evenly in headings */
}

/* Improve paragraph readability with controlled text wrapping and width */
p {
  text-wrap: pretty; /* Enhanced wrapping for paragraphs */
  max-width: 60ch; /* Max width based on character count for optimal reading */
}

/* Remove default list styling for cleaner, customizable lists */
ul,
ol {
  list-style: none;
}

/* Set default styles for media elements for better control and responsiveness */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Normalize typography styles in form elements for consistency */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  transition: all 0.2s;
}

button:focus,
button:hover {
  transform: scale(1.05);
}

/* Normalize link styles for a clean slate */
a {
  text-decoration: none;
}

/* Indicate interactive elements with pointer cursor  */
input[type="checkbox"],
input[type="date"]::-webkit-calendar-picker-indicator,
select,
button,
a {
  cursor: pointer;
}

/*============================
GENERAL STYLES================
==============================*/

/*============================
ANIMATIONS====================
==============================*/
